<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="HLTTempScaleFactor" value ="1.047"/>
		<add key="HLTTempOffset" value="-1.62"/>

		<add key="MTTempScaleFactor" value="1.026"/>
		<add key="MTTempOffset" value="-0.59"/>

		<add key="BKTempScaleFactor" value="1.037"/>
		<add key="BKTempOffset" value="-2.16"/>
		
	</appSettings>
</configuration>